body {
  background-color: var(--bg-body);
  color: var(--font-color-dark);
  height: 100%;
}

main {
  padding: 0.5em;
  display: flex;
  background-color: var(--bg-body);
}

/* * Title Projects */

.projects-header {
  text-align: center;
  padding: 1em 0;
}

.projects-header h1 {
  font-size: var(--font-size-title);
  font-family: var(--font-title);
}
