body {
  background-color: var(--bg-body);
  color: var(--font-color-dark);
  height: 100%;
}

main {
  padding: 0.5em;
  display: flex;
}

/* Title Resume */

.resume-header {
  text-align: center;
  padding: 1em 0 1em 0;
}

.resume-header h1 {
  font-size: var(--font-size-title);
  font-family: var(--font-title);
}

/* Left Side */
.left-side {
  background-color: var(--accent-moss);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  border-radius: 7px;
  padding: 1.5em;
  color: var(--font-color-light);
}

.left-side hr {
  width: 100%;
  border: 1px solid var(--font-color-dark);
  margin: 1em 0;
}

/* Personal Information Section */
.personal-info a {
  color: var(--font-color-light);
}

.download,
.mail,
.phone,
.github,
.website {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0.7em;
}

.website:last-child {
  padding-bottom: 0;
}

.download a,
.mail a,
.github a,
.website a {
  text-decoration: none;
}

/* Skills */
.skills h1 {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-subtitle);
  font-family: var(--font-title);
}

.skills ul {
  list-style-type: none;
}

.skills ul li {
  display: flex;
  flex-direction: row;
}

.skill-name {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 4em;
  font-weight: normal;
}

.skill-rank {
  flex: 1;
  display: flex;
  font-size: var(--font-size-subtitle);
}

/* Right Side */
.right-side {
  display: flex;
  flex-direction: column;
  flex: 3;
  align-items: center;
  color: var(--font-color-dark);
}

/* Work Experience Section */
.work-experience h1 {
  font-size: var(--font-size-subtitle);
  font-family: var(--font-title);
}
